@import "/Library/WebServer/Documents/OStructures/webroot/bower_components/foundation/scss/foundation/components/grid";

#container {
	margin: 0 0.9375em;
	height: 100%;
}
div#content, div#content > div.row {
	height: 100%;
}

.edit-zone {
	/*background: wheat;*/
}

.preview-zone {
	overflow: scroll;
	/*background: lightblue;*/
	
	img {
		/*max-width: 800px;*/
	}
}

fieldset {
	padding: 0;
	margin: .5em 0;
	border: none;
	
	.inner {
		margin: 0;
	}
}

button.tiny#maximize {
	padding-top: 5px;
	padding-bottom: 6px;
	float: right;
	margin-bottom: -4px;
}

button {
	border-radius: .25em;
}

/*small*/
@media only screen{
	
	.sm-tall-100 {height: 100%;}
	.sm-tall-40{height: 40%;}
	.sm-tall-60{height: 60%;}
	.sm-tall-auto{height:auto;}
	
	.edit-zone {
		background: oldlace;
		@include grid-column(12);
	}
	
	.resource-zone {
		@include grid-column(12);
		backround-color: taupe;
		
		#resource-placeholder {
			display: none;
		}
	}
	.preview-zone{
		@include grid-column(12);
	}
	
}

/*Medium*/
@media only screen and (min-width:40.063em){
	
	.md-tall-40{height: 40%;}
	.md-tall-60{height: 60%;}
	.md-tall-100{height: 100%;}
	.md-tall-auto{height: auto;}
	
	.edit-zone {
		@include grid-column(8);
		background: wheat;
	}

	.resource-zone {
		@include grid-column($columns:4, $float:right);
		
		.row {
		}
		
		#resource-placeholder {
		}
	}
	
	.preview-zone {
		@include grid-column(12);
	}
	

}
/*large*/
@media only screen and (min-width:64.063em){
	
	.lrg-tall-40{height: 40%;}
	.lrg-tall-60{height: 60%;}
	.lrg-tall-100{height: 100%;}
	.lrg-tall-auto{height:auto;}
	
	.edit-zone {
		@include grid-column(5);
		background: goldenrod;
	}
	.resource-zone {
		@include grid-column($columns:2, $float:right);
	}
	.preview-zone {
		@include grid-column(5);
	}

}
