#container {
	margin: 0 0.9375em;
}

.edit-zone {
	/*background: wheat;*/
}

.preview-zone {
	/*background: lightblue;*/
	
	img {
		/*max-width: 800px;*/
	}
}

fieldset {
	padding: 0;
	margin: .5em 0;
	border: none;
	
	.inner {
		margin: 0;
	}
}

button.tiny#maximize {
	padding-top: 5px;
	padding-bottom: 6px;
	float: right;
	margin-bottom: -4px;
}

button {
	border-radius: .25em;
}

@media only screen{
	/*small*/
	
	.edit-zone {
		background: oldlace;
	}
	
	.resource-zone {
		position: fixed;
		margin: 0;
		right: 0;
		z-index: 100;
		
		.row {
			display: none;
		}
		
		#resource-placeholder {
			background-color: burlywood;
			display: block;
			width: 25px;
			height: 25px;
		}
	}
	
/*	.resource-zone > row {
		display: none;
	}*/

}

@media only screen and (min-width:40.063em){
	/*medium*/
	
	.edit-zone {
		background: wheat;
	}

	.resource-zone {
		margin: .5em 0 0;
		background: lightyellow;
		float: right;
		position: relative;
		z-index: 100;
		
		.row {
			display: block;
		}
		
		#resource-placeholder {
			display: none;
		}
	}

}

@media only screen and (min-width:64.063em){
	/*large*/
	
.edit-zone {
	background: goldenrod;
}

}
