/*
Copyright 2015 Origami Structures
*/
/* 
    Created on : Aug 19, 2015, 12:31:14 PM
    Author     : jasont
*/
@import "_main-page.scss";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web|Unna);

footer {
    background: black none repeat scroll 0 0;
    height: 40px;
    margin: 10px 0 0;
    width: 100%;
}
