/*detail p {*/
/*    display: none;*/
/*}*/
summary.detail::before {
    content: "▼ ";
}
summary::before {
    content: "► ";
}

summary.detail div {
    border-bottom: thin solid gray;
    border-top: thin solid gray;
    padding-top: 1rem;
}
